@font-face {
  font-family: "Elegant-Icons";
  src: url("fonts/ElegantIcons.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fontawesome-webfont";
  src: url("fonts/fontawesome-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
*{
  box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}
body{
  margin:0;
  padding: 0;
	font-family: Lato, Arial;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
p{
  line-height: 24px;
  color: #a1b1bc;
}

/*grid system*/
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: auto;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.clear{
	clear: both;
}
.row{
  margin: 0;
}
.row:after, .row:before{
  content: " ";
  display: table;
}
.row:after{
  clear: both;
}
.clearRow:after, .clearRow:before{
  content: " ";
  display: table;
}
.clearRow:after{
  clear: both;
}
.no-gut{
  margin-right: 0;
  margin-left: 0;
}
.no-gut > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/*grid system - end*/

section{
  padding: 100px 0;
}

/*header - start*/
.mainWrap{
  overflow: hidden;
}
.headerWrap{
  position: initial;
}
.headerWrap.fixed{
  position: absolute;
}
header{
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-top: 4px solid #314e6d;
  transition: left 0.3s 0.3s ease;
}
.headerWrap.fixed header{
  position: fixed;
  background: rgba(255,255,255,0.7);
  border: none;
}
.deskMenu{
  margin: 0;
  padding: 0;
  display: none;
}
.deskMenu li{
  float: left;
  margin:0 14px;
}
.deskMenu li:first-child{
  margin-left:0;
}
.deskMenu li:last-child{
  margin-right: 0;
}
.deskMenu li a{
  height: 100px;
  display: block;
  color: #2c3e50;
  line-height: 100px;
  text-transform: uppercase;
}
.deskMenu li a.active{
  border-bottom: 5px solid #567390;
  color: #567390;
}
.headerWrap.fixed .deskMenu li a{
  height: 56px;
  line-height: 56px;
  transition: 0.2s;
}
.logo img{
  position: absolute;
  top: 20px;
  display: none;
}
.headerWrap.fixed .logo img{
  top: 10px;
  left: 24px;
  width: 37px;
}
.mobMenu .logo, .deskMenu .logo{
  position: relative;
  width: 276px;
  line-height: normal;
  font-family: Comfortaa;
}
.headerWrap.fixed .deskMenu .logo{
  line-height: normal;
}
.quattro{
  position: absolute;
  top: 20px;
  left: 67px;
  color: #494949;
  font-size: 41px;
  text-transform: none;
}
.headerWrap.fixed .quattro{
  top: 10px;
  font-size: 36px;
}
.company{
  position: absolute;
  top: 64px;
  left: 72px;
  color: #7a7a7a;
  font-size: 12px;
  letter-spacing: 1.5px;
  word-spacing: 4px;
  font-weight: 300;
}
.headerWrap.fixed .company{
  display: none;
}
.mobMenu{
  position: relative;
  height: 100px;
}
.mobMenu .logo{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
.headerWrap.fixed .mobMenu{
  height:56px;
}
svg{
  position:absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
g.active .firstLine{
  -ms-transform: rotate(-45deg) translate(-1px, -12.5px);
  -webkit-transform: rotate(-45deg) translate(-1px, -12.5px);
  -o-transform: rotate(-45deg) translate(-1px, -12.5px);
  -moz-transform: rotate(-45deg) translate(-1px, -12.5px);
  transform: rotate(-45deg) translate(-1px, -12.5px);
}
g.active .thirdLine{
  -ms-transform: rotate(45deg) translate(1px, 10.5px);
  -webkit-transform: rotate(45deg) translate(1px, 10.5px);
  -o-transform: rotate(45deg) translate(1px, 10.5px);
  -moz-transform: rotate(45deg) translate(1px, 10.5px);
  transform: rotate(45deg) translate(1px, 10.5px);
}
g.active .secondLine{
  opacity:0;
}
.firstLine, .secondLine, .thirdLine{
  transition:0.4s cubic-bezier(0.26, 0.1, 0.26, 1.46);
  -ms-transform-origin:100% 0%;
  -webkit-transform-origin:100% 0%;
  -o-transform-origin:100% 0%;
  -moz-transform-origin:100% 0%;
  transform-origin:100% 0%;
}
.sidebarMenu{
  position: fixed;
  height: 100%;
  width: 200px;
  top: 8px;
  left:0;
  opacity: 0;
  border-right: solid 1px #eceef0;
  transition: 0.5s;
}
.sidebarMenu.show{
  opacity: 1;
}
.sidebarMenu ul{
  margin: 0;
  padding: 0;
}
.sidebarMenu ul li a{
  width: 100%;
  padding: 15px;
  display: block;
  color: #494949;
  border-bottom:1px solid #eceef0;
}
.main{
  position: relative;
  width: 100%;
  z-index: 20;
  left: 0;
  background: #fff;
  transition: left 0.3s 0.3s ease;
}
.main.menuOpen, .main.menuOpen header{
  left:200px;
}
/*header - end*/

/*slider*/
h1{
  color: #fff;
  font-size: 50px;
  font-weight: 300;
}
.sliderWrap{
  position: relative;
}
.sliderContainer{
  position: relative;
  overflow: hidden;
}
.slider{
  position: relative;
  height: 900px;
  z-index: 1;
  overflow: hidden;
}
.slide{
  position: absolute;
  margin: 0 auto;
  width: 100%;
}
@-webkit-keyframes slideToRight {
  0%{
    right:0;
  }
  100%{
    right:-100%;
  }
}
@-moz-keyframes slideToRight {
  0%{
    right:0;
  }
  100%{
    right:-100%;
  }
}
@-o-keyframes slideToRight {
  0%{
    right:0;
  }
  100%{
    right:-100%;
  }
}
@-ms-keyframes slideToRight {
  0%{
    right:0;
  }
  100%{
    right:-100%;
  }
}
@keyframes slideToRight {
  0%{
    right:0;
  }
  100%{
    right:-100%;
  }
}
@-webkit-keyframes slideFromRight{
  0%{
    right:-100%;
  }
  100%{
    right:0;
  }
}
@-moz-keyframes slideFromRight{
  0%{
    right:-100%;
  }
  100%{
    right:0;
  }
}
@-o-keyframes slideFromRight{
  0%{
    right:-100%;
  }
  100%{
    right:0;
  }
}
@-ms-keyframes slideFromRight{
  0%{
    right:-100%;
  }
  100%{
    right:0;
  }
}
@keyframes slideFromRight{
  0%{
    right:-100%;
  }
  100%{
    right:0;
  }
}
.slide.fwd{
  right:-100%;
  -webkit-animation: slideToRight 1.1s;
  -moz-animation: slideToRight 1.1s;
  -o-animation: slideToRight 1.1s;
  animation: slideToRight 1.1s;
}
.slide.rev{
  right:0;
  -webkit-animation: slideFromRight 1.1s;
  -moz-animation: slideFromRight 1.1s;
  -o-animation: slideFromRight 1.1s;
  animation: slideFromRight 1.1s;
}
.sliderText{
  position: absolute;
  bottom: 270px;
  z-index: 6;
}
.create_box{
  margin: 0 auto;
}
.create_box p{
  font-weight: 300;
  font-size: 50px;
  color: #fff;
  text-align: right;
  float: left;
}
.sliderBullets{
  position: absolute;
  bottom:166px;
  z-index: 1;
}
.bullet{
  display: inline-block;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 14px;
  background:url('gfx/bullets.png');
  cursor: pointer;
}
.bullet.active{
  background-position: 0 -20px;
}
/*slider - end*/

/*hello section*/
.hello h2, .feedback h2, .reason h2{
  margin-top: 0;
  color: #2c3e50;
  font-size: 36px;
  font-weight: 300;
}
.hello h3{
  color: #2c3e50;
  font-weight: bold;
  font-size: 15px;
}
.view_detail{
  margin-top: 16px;
  padding: 19px 24px;
  display: inline-block;
  border-bottom: 3px solid #81919b;
  color: #fff;
  background: #a1b1bc;
  font-weight: 800;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
}
.rightBlock{
  margin-top: 30px;
}
.spoiler_title{
  position: relative;
  margin: 0;
  padding: 15px 20px;
  height: 45px;
  border:1px solid #eceef0;
  color: #2c3e50;
  font-size: 15px;
  font-weight: bold;
  line-height: normal;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  cursor: pointer;
}
.spoiler img{
  float: left;
  margin-right: 20px;
  border: 1px solid #ecf0f1;
}
.spoiler_box {
  max-height: 0px;
  margin:0 0 5px 0;
  overflow: hidden;
  border-left: 1px solid #eceef0;
  border-right: 1px solid #eceef0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  transition: max-height 0.5s;
}
.spoiler_cont{
  padding: 20px;
}
.spoiler_cont p{
  margin: 0;
}
.spoiler_box.open{
  max-height: 230px;
  border-bottom: 1px solid #eceef0;
  transition: cubic-bezier(0.35, 0.87, 0.35, 0.9) max-height 0.7s;
}
.arrow{
  position: absolute;
  padding: 14px 18px;
  right:0;
  top: 0;
  border-left: 1px solid #eceef0;
  color: #a1b1bc;
  font-family: fontawesome-webfont;
  transition:0.5s;
}
.arrow.reverse{
  -webkit-transform:scaleY(-1);
  transform:scaleY(-1);
  transition:0.5s;
}
/*hello - section - end*/

/*works - section*/
.works{
  background:#f9fafb;
}
.works h2,
.reply h2{
  margin: 0;
  padding-bottom: 50px;
  color: #2c3e50;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
}
.previewName{
  position: relative;
  height: 50px;
  transition:0.5s;
}
.previewTitle{
  position: absolute;
  left: 16px;
  top: 16px;
  color: #2c3e50;
  font-weight: bold;
}
.likes:before{
  content: "\e030";
}
.likes{
  top: 15px;
  right: 21px;
  font-family: Elegant-Icons;
}
.likesNbr{
  top: 13px;
  right: 47px;
}
.likes, .likesNbr{
  position: absolute;
  color: #a1b1bc;
  font-size: 16px;
  transition:0.5s;
}
.box{
  margin: 0 auto;
}
.preview{
  border: 1px solid #e7eaee;
}
.previewBox{
  position: relative;
}
.previewPic{
  width: 100%;
  vertical-align: bottom;
}
.preview:hover .previewName{
  background-color: #a1b1bc;
  transition:0.5s;
}
.preview:hover .blueHover{
  opacity: 0.78;
  transition:0.5s;
}
.preview:hover .previewTitle, .preview:hover .likesNbr, .preview:hover .likes{
  color: #fff;
  transition:0.5s;
}
.blueHover{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #222533;
  cursor: pointer;
  transition:0.5s;
}
.blueHover p{
  position: absolute;
  width: 100%;
  margin: 0;
  top: 50%;
  color: #fff;
  text-align: center;
  font-size: 100px;
  font-weight: 100;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*works - section - end*/

/*reason*/
.reason_left{
  margin-right: 2.56%;
}
/*reason - end*/

/*fun facts*/
.fact{
  height: 200px;
  cursor: pointer;
  transition:0.4s;
}
.fact p{
  margin:0;
  padding-top: 74px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}
.fact p span{
  font-size: 14px;
  font-weight: 800;
}
.fact:hover{
  background-color: #a1b1bc;
  transition:0.4s;
}
.fact1{
  background-color: #698aac;
}
.fact2{
  background-color: #567390;
}
.fact3{
  background-color: #2c3e50;
}
/*fun facts - end*/

/*reply*/
.reply{
  padding-bottom: 70px;
}
.replyControls{
  margin-bottom: 36px;
  text-align: center;
}
.replyControls button{
  margin-right: -2px;
  margin-left: -2px;
  height: 40px;
  width: 120px;
  background-color: #fff;
  color: #2c3e50;
  border:1px solid #e4e7e9;
  cursor: pointer;
  outline: none;
}
.replyControls button:hover{
  background-color: #fbfafa;
}
.left-button{
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
}
.right-button{
  border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
}
.replySlider{
  position: relative;
}
.reply-single{
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.reply-single.active {
  height: auto;
  display: block;
  opacity: 1;
  transition: opacity 1s, height 1s;
}
.comment{
  width: 100%;
  float: left;
  margin-bottom: 30px;
  padding: 30px;
  background: #f9fafb;
  border:1px solid #e4e7e9;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  transition:0.5s;
}
.comment:hover{
  background: #fff;
  transition:0.5s;
}
.picture_box{
  width: 102px;
  margin: 0 auto;
}
.comment_box{
  float: left;
  text-align: center;
}
.picture_box:hover .outside_box{
  border: 1px solid #fff;
  transition:0.6s;
}
.outside_box{
  width: 102px;
  height: 102px;
  margin-right: 18px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
}
.outside_box:hover .inside_box_hover{
  opacity: 0.59;
  transition:opacity 0.5s;
}
.inside_box{
  position: relative;
  width: 92px;
  height: 92px;
  margin-top: 4px;
  margin-left: 4px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 50%;
}
.inside_box_hover{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
  background: #2c3e50;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
}
.inside_box_hover p{
  position: absolute;
  margin: 0;
  top: 50%;
  width: 100%;
  color: #fff;
  font-weight: 300;
  font-size: 36px;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.commenter_name{
  margin-top: 0;
  font-size: 18px;
  color: #2c3e50;
}
/*reply - end*/

/*partners*/
.partnerBox{
  height: 145px;
}
.partners{
  border-bottom:solid 1px #e9e9e9;
  border-top:solid 1px #e9e9e9;
}
.partner1{background: url('images/partner_colorless.png') 0px 13px;}
.partner2{background: url('images/partner_colorless.png') -130px 1px;}
.partner3{background: url('images/partner_colorless.png') -255px 1px;}
.partner4{background: url('images/partner_colorless.png') -390px 23px;}
.partner5{background: url('images/partner_colorless.png') 252px 1px;}
.partner6{background: url('images/partner_colorless.png') 129px 17px;}
.partner1:hover{background: url('images/partner_color.png') 0px 13px;}
.partner2:hover{background: url('images/partner_color.png') -130px 1px;}
.partner3:hover{background: url('images/partner_color.png') -255px 1px;}
.partner4:hover{background: url('images/partner_color.png') -390px 23px;}
.partner5:hover{background: url('images/partner_color.png') 252px 1px;}
.partner6:hover{background: url('images/partner_color.png') 129px 17px;}

.partner{
  display:block;
  margin: 0 auto;
  width: 125px;
  height: 110px;
  transition: 0.3s;
}

/*partners - end*/

#map{
  height: 500px;
  background-color: #555;
}

/*feedback*/

.follow{
  margin-left: -4px;
}
.follow a{
  margin-right: 20px;
  color: #686d80;
  font-size: 24px;
  font-family: Elegant-Icons;
  transition: 0.3s;
}
.follow a:hover{
  color: #6b8fb3;
  transition: 0.3s;
}
.facebook:before{
  content: "\e093";
}
.twitter:before{
 content:"\e094";
}
.rss:before{
  content:"\e09e";
}
.google:before{
  content:"\e096";
}
.flickr:before{
  content:"\e0a6";
}
.dribble:before{
  content:"\e09b";
}
.linkedin:before{
  content:"\e09d";
}
.pinterest:before{
  content:"\e0ac";
}
.skype:before{
  content:"\e0a2";
}
.vimeo:before{
  content:"\e09c";
}
.tumblr:before{
  content:"\e097";
}
.instagram:before{
  content: "\e09a";
}
.submit_now input, textarea{
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  box-shadow: inset 0 3px 3px 0 rgba(0,0,0,0.03);
  font-size: 14px;
  -webkit-appearance: none; /*for i-devices*/
}
.submit_now input[type=text]{
  padding: 20px;
  border: 1px solid #dee6e6;
}
textarea{
  height: 100px;
  padding: 20px;
  border: 1px solid #dee6e6;
  resize: none;
}
.submit_now .submit_btn{
  height:60px;
  padding: 22px;
  background: #a1b1bc;
  color: #fff;
  font-weight: 800;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-bottom:3px solid #81919b;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
/*feedback - end*/

/*news*/
.newsBlock{
  position: relative;
  cursor: pointer;
}
.newsBlock:hover .darkHover{
  opacity: 0;
  transition:0.7s;
}
.newsBlock:hover .littleHover{
  height: 100px;
  transition:0.5s;
}
.blockTitle, .darkHover, .littleHover{
  position: absolute;
  bottom: 0;
  width:100%;
}
.blockTitle{
  height: 100px;
}
.darkHover{
  height: 100%;
  opacity: 0.5;
  background: #222533;
  transition:0.5s;
}
.littleHover{
  height: 0;
  opacity: 0.97;
  background: #222533;
  transition:0.7s;
}
.titleName{
  color: #fff;
  text-align: center;
  font-size:18px;
  font-weight:800;
}
.titleDate{
  color: #fff;
  text-align: center;
  font-family:  Lato, Arial;
  font-weight:400;
}
.blockImg img{
  width: 100%;
  vertical-align: bottom;
}
/*news - end*/

/*purshase */
.purchase{
  position: relative;
  height: 500px;
  text-align: center;
  background: url('images/road.png');
}
.purchaseCover{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  background-color: #a1b1bc;
}
.purchaseContent{
  position: absolute;
  margin: 0 auto;
  width: 100%;
}
.purchaseContent h2{
  margin-top: 170px;
  margin-bottom: 0;
  color: #fff;
  font-size: 36px;
  font-weight: 300;
}
.purchaseContent h3{
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.purchaseContent p {
  margin-top: 49px;
  font-size: 16px;
  font-weight: 800;
}
.purchaseBtn{
  padding: 19px 16px;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  transition:0.5s;
}
.purchaseBtn:hover{
  color: rgba(0,0,0,0.5);
  background-color: #fff;
  transition:0.5s;
}
/*purshase - end*/

/*recent*/
.recent{
  background-color: #1a1c27;
}
.recent_cont{
  margin: 0 auto;
}
.recent_box h3{
  margin: 0;
  color: #fff;
  font-family: Comfortaa, Arial;
  font-size: 48px;
  font-weight: 300;
}
.recent_box h4{
  position: relative;
  margin-top: 0;
  margin-left: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
}
.recent_box h4:before{
  position: absolute;
  left: -25px;
  top: 0px;
  width: 5px;
  height: 18px;
  background: #567390;
  content: '';
}
.recent_box h3 span{
  color: #6b8fb3;
}
.recent_post{
  border-bottom: solid 1px #262837;
  padding-bottom: 17px;
}
.recent_post span{
  float: right;
}
.recent_post:last-of-type{
  border:none;
}
.recent_tweet{
  position: relative;
  margin: 0;
  padding-left: 42px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: solid 1px #262837;
}
.recent_tweet:first-of-type{
  padding-top: 0;
}
.recent_tweet:last-of-type{
  border:none;
}
.tweet_icon{
  position: absolute;
  left: 1px;
  color: #a1b1bc;
  font-family: Elegant-Icons;
  font-size: 24px;
}
.upload_time{
  display: block;
  color: #6d7d89;
  font-size: 12px;
}
.recent_tweet a{
  color: #6b8fb3;
}
/*recent - end*/

/*footer*/
footer{
  margin: 0 auto;
  padding: 30px 0;
  background-color: #222533;
  border-top: 1px solid #2b2e3c;
}
.copyRights, .social{
  text-align: center;
}
.copyRights p{
  margin:0;
  color: #a1b1bc;
}
.social{
  margin-top: 20px;
}
.social a{
  margin-left: 20px;
  color: #a1b1bc;
  font-family: Elegant-Icons;
  transition: 0.3s;
}
.social a:first-child{
  margin-left: 0;
}
.social a:hover{
  color: #fff;
  transition: 0.3s;
}
.fox{
  color: #6b8fb3;
}
.devider{
  color: #2c3e50;
}

/*footer - end*/

@media (min-width: 768px) {
  .container {
    padding: 0;
    width: 750px;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row{
    margin-left: -15px;
    margin-right: -15px;
  }
  .no-gut{
    margin-right: 0;
    margin-left: 0;
  }
  .no-gut > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media(min-width: 450px){
  .logo img{
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .deskMenu{
    display: block;
  }
  .deskMenu li{
    margin:0 10.98px;
    padding: 0;
  }
  .mobMenu{
    display: none;
  }
  .rightBlock{
    margin: 0;
  }
  .reason{
    background-image: url('images/Untitled-10.png');
    background-repeat: no-repeat;
    background-position: right -12px top 0;
  }
  .fact{
    float: left;
    width: 20%;
  }
  .follow a{
    margin-right: 6px;
  }
  .newsBlock{
    float: left;
    width: 20%;
  }
  .titleName{
    font-size:15px;
  }
}
@media (min-width: 992px) {
  .deskMenu li{
  	margin:0 29.5px;
  }
  .copyRights{
    float: left;
  }
  .social{
    float: right;
    margin-top: 0;
  }
  .social a{
    margin-left: 14px;
  }
  .reason{
    background-position: right 40px top 0;
  }
  .comment_box{
    width: 290px;
    text-align: left;
  }
  .picture_box{
    margin: 0;
    float: left;
    margin-right: 15px;
  }
  .follow a{
    margin-right: 16px;
  }
  .titleName{
    font-size:16px;
  }
}
@media (min-width: 1200px) {
  .deskMenu li{
  	margin:0 45.98px;
  }
  .hello{
    max-height: 600px
  }
  .reason{
    background-position: right 70px top 0;
  }
  .comment_box{
    width: 390px;
  }
  .follow a{
    margin-right: 20px;
  }
  .titleName{
    font-size:18px;
  }
}
